<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="Users" verb="*" path="Users" type="AgnoscoWS.Users" resourceType="Unspecified" />
      <add name="addNom" verb="*" path="addNom" type="AgnoscoWS.Nominations" resourceType="Unspecified" />
      <add name="getNoms" verb="*" path="getNoms" type="AgnoscoWS.Nominations" resourceType="Unspecified" />
      <add name="updateNom" verb="*" path="updateNom" type="AgnoscoWS.Nominations" resourceType="Unspecified" />
    </handlers>
    <security>

    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <clear />
    <add name="DEV_EKUNDU" providerName="System.Data.SqlClient"  connectionString="SERVER=HSSPUREDBVMFI.hicnet.loc;Initial Catalog=Agnosco;User ID=nikv;Password=p@ssword!;"/>
  </connectionStrings>
  <appSettings>

  </appSettings>
</configuration>